- flash.each do |name, msg|
  - if name == 'success'
    .alert.alert-success(role="alert")= msg
  - elsif name == 'error' || name == 'alert'
    .alert.alert-danger(role="alert")= msg
  - elsif name == 'notice'
    .alert.alert-info(role="alert")= msg
  - else
    .alert.alert-default(role="alert")= msg
